<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:tizen="http://tizen.org/ns/widgets"
        id="https://phuongnm7.github.io/nm7-iptv-tizen"
        version="0.1.0"
        viewmodes="maximized">
    <tizen:application id="Nm7IPTV.TizenTV" package="Nm7IPTV" required_version="2.3"/>
    <content src="index.html"/>
    <icon src="icon.png"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <tizen:profile name="tv"/>
    <tizen:setting screen-orientation="landscape"
                   context-menu="disable"
                   background-support="disable"
                   encryption="disable"
                   install-location="auto"
                   hwkey-event="enable"/>
    <tizen:privilege name="http://tizen.org/privilege/internet"/>
    <access origin="*" subdomains="true"/>
    <name>Nm7 IPTV</name>
    <description>Nm7 IPTV Player for Samsung Tizen TV</description>
</widget>
