<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-feature android:name="android.software.leanback" android:required="false" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
    <application android:name=".Nm7Application" android:allowBackup="false" android:fullBackupContent="false" android:dataExtractionRules="@xml/data_extraction_rules" android:banner="@drawable/nm7_tv_banner" android:icon="@drawable/nm7_app_icon" android:roundIcon="@drawable/nm7_app_icon" android:label="@string/app_name" android:supportsRtl="true" android:theme="@style/Theme.IptvPlayer" android:usesCleartextTraffic="true" android:resizeableActivity="true">
        <service android:name=".BackgroundPlaybackService" android:exported="false" android:foregroundServiceType="mediaPlayback" android:stopWithTask="true" />
        <provider android:name=".MobileInlinePlayerProviderV2" android:authorities="${applicationId}.mobileinline" android:exported="false" android:initOrder="90" />
        <provider android:name=".MobileEdgeGestureProvider" android:authorities="${applicationId}.edgegestures" android:exported="false" android:initOrder="85" />
        <provider android:name=".MobileGroupSwipeProvider" android:authorities="${applicationId}.groupswipe" android:exported="false" android:initOrder="80" />
        <provider android:name=".MobileNowPlayingHighlightProvider" android:authorities="${applicationId}.nowplayinghighlight" android:exported="false" android:initOrder="75" />
        <provider android:name=".TvLayoutTunerProvider" android:authorities="${applicationId}.tvlayout" android:exported="false" android:initOrder="70" />
        <provider android:name=".TvStreamRecoveryProvider" android:authorities="${applicationId}.tvrecovery" android:exported="false" android:initOrder="65" />
        <provider android:name=".TvPlayerUiProvider" android:authorities="${applicationId}.tvplayerui" android:exported="false" android:initOrder="60" />
        <activity android:name=".VlcFallbackActivity" android:enabled="${vlcFallbackEnabled}" android:exported="false" android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:name=".PlayerActivity" android:exported="false" android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:name=".YoutubeActivity" android:exported="false" android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:name=".MainActivity" android:configChanges="keyboardHidden|orientation|screenSize" android:windowSoftInputMode="stateAlwaysHidden|adjustPan" android:exported="true">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LEANBACK_LAUNCHER" /></intent-filter>
        </activity>
    </application>
</manifest>
